# audit-service Kubernetes Service
apiVersion: v1
kind: Service
metadata:
  name: audit-service
  labels:
    app: audit-service
    tier: backend
    role: auditor
spec:
  type: ClusterIP
  selector:
    app: audit-service
  ports:
    - name: http
      port: 8084
      targetPort: 8084
      protocol: TCP
